@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-Italic.eot");
  src:
    local("Aventa Italic"),
    local("Aventa-Italic"),
    url("./assets/fonts/Aventa/Aventa-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-Italic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-Italic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aventa Extra";
  src: url("./assets/fonts/Aventa/Aventa-ExtraLight.eot");
  src:
    local("Aventa Extra Light"),
    local("Aventa-ExtraLight"),
    url("./assets/fonts/Aventa/Aventa-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-ExtraLight.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-Black.eot");
  src:
    local("Aventa Black"),
    local("Aventa-Black"),
    url("./assets/fonts/Aventa/Aventa-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-Black.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-Black.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aventa Italic Variable";
  src: url("./assets/fonts/Aventa/AventaItalicVariable.eot");
  src:
    local("Aventa Italic Variable"),
    local("AventaItalicVariable"),
    url("./assets/fonts/Aventa/AventaItalicVariable.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/AventaItalicVariable.woff2") format("woff2"),
    url("./assets/fonts/Aventa/AventaItalicVariable.woff") format("woff"),
    url("./assets/fonts/Aventa/AventaItalicVariable.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-BoldItalic.eot");
  src:
    local("Aventa Bold Italic"),
    local("Aventa-BoldItalic"),
    url("./assets/fonts/Aventa/Aventa-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-BoldItalic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aventa Extra";
  src: url("./assets/fonts/Aventa/Aventa-ExtraBoldItalic.eot");
  src:
    local("Aventa Extra Bold Italic"),
    local("Aventa-ExtraBoldItalic"),
    url("./assets/fonts/Aventa/Aventa-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-ExtraBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-ExtraBoldItalic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Aventa Extra";
  src: url("./assets/fonts/Aventa/Aventa-ExtraLightItalic.eot");
  src:
    local("Aventa Extra Light Italic"),
    local("Aventa-ExtraLightItalic"),
    url("./assets/fonts/Aventa/Aventa-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-ExtraLightItalic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-ExtraLightItalic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aventa Extra";
  src: url("./assets/fonts/Aventa/Aventa-ExtraBold.eot");
  src:
    local("Aventa Extra Bold"),
    local("Aventa-ExtraBold"),
    url("./assets/fonts/Aventa/Aventa-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-ExtraBold.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-Bold.eot");
  src:
    local("Aventa Bold"),
    local("Aventa-Bold"),
    url("./assets/fonts/Aventa/Aventa-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-Bold.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-Bold.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-BlackItalic.eot");
  src:
    local("Aventa Black Italic"),
    local("Aventa-BlackItalic"),
    url("./assets/fonts/Aventa/Aventa-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-BlackItalic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-ThinItalic.eot");
  src:
    local("Aventa Thin Italic"),
    local("Aventa-ThinItalic"),
    url("./assets/fonts/Aventa/Aventa-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-ThinItalic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-ThinItalic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-Thin.eot");
  src:
    local("Aventa Thin"),
    local("Aventa-Thin"),
    url("./assets/fonts/Aventa/Aventa-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-Thin.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-Thin.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-Medium.eot");
  src:
    local("Aventa Medium"),
    local("Aventa-Medium"),
    url("./assets/fonts/Aventa/Aventa-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-Medium.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-Medium.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-LightItalic.eot");
  src:
    local("Aventa Light Italic"),
    local("Aventa-LightItalic"),
    url("./assets/fonts/Aventa/Aventa-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-LightItalic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aventa Semi";
  src: url("./assets/fonts/Aventa/Aventa-SemiBold.eot");
  src:
    local("Aventa Semi Bold"),
    local("Aventa-SemiBold"),
    url("./assets/fonts/Aventa/Aventa-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-SemiBold.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-Regular.eot");
  src:
    local("Aventa"),
    local("Aventa-Regular"),
    url("./assets/fonts/Aventa/Aventa-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-Regular.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-Regular.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aventa Variable";
  src: url("./assets/fonts/Aventa/AventaVariable.eot");
  src:
    local("Aventa Variable"),
    local("AventaVariable"),
    url("./assets/fonts/Aventa/AventaVariable.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/AventaVariable.woff2") format("woff2"),
    url("./assets/fonts/Aventa/AventaVariable.woff") format("woff"),
    url("./assets/fonts/Aventa/AventaVariable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-Light.eot");
  src:
    local("Aventa Light"),
    local("Aventa-Light"),
    url("./assets/fonts/Aventa/Aventa-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-Light.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-Light.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("./assets/fonts/Aventa/Aventa-MediumItalic.eot");
  src:
    local("Aventa Medium Italic"),
    local("Aventa-MediumItalic"),
    url("./assets/fonts/Aventa/Aventa-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-MediumItalic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-MediumItalic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aventa Semi";
  src: url("./assets/fonts/Aventa/Aventa-SemiBoldItalic.eot");
  src:
    local("Aventa Semi Bold Italic"),
    local("Aventa-SemiBoldItalic"),
    url("./assets/fonts/Aventa/Aventa-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Aventa/Aventa-SemiBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Aventa/Aventa-SemiBoldItalic.woff") format("woff"),
    url("./assets/fonts/Aventa/Aventa-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
