:root {
  font-size: 16px;

  --text-light-color: #787486;
  --background-focus-color: #f2f2f2;
  --background-second-color: #EAECF5;
  --border-light-color: #dbdbdb;
  --background-danger-color: #ffe5e5;
  --btn-background-color: #131313;
  --btn-hover-background-color: #383737;
}

:root {
  --background-color: #ffffff;
  --danger-background-color: rgba(176, 18, 18, 0.12);
  --second-background-color: #eaecf5;
  --second-background-color-hover: #c8cce5;
  --text-color: #101323;
  --danger-text-color: rgb(176, 18, 18);
  --second-text-color: #9FA1A7;
  --border-color: #c8cce5;
  --primary-color: rgb(54, 63, 114);
  --primary-color-hover: rgba(54, 63, 114, 0.86);
  --primary-color-light-hover: rgba(54, 63, 114, 0.2);
  --primary-second-hover-color: rgb(200 204 229 / 60%);
}

:root[data-bs-theme="dark"] {
  --background-color: #1A1D1D;
  --danger-background-color: rgba(244, 107, 80, 0.16);
  --second-background-color: #2B2E2E;
  --second-background-color-hover: rgb(54, 58, 56);
  --text-color: #FFFFFF;
  --danger-text-color: rgb(244, 107, 80);
  --second-text-color: #a4a7ae;
  --border-color: #2B2E2E;
  --primary-color: rgb(215, 254, 250);
  --primary-color-hover: rgba(215, 254, 250, 0.8);
  --primary-color-light-hover: rgb(65, 72, 72);
}

@media (prefers-color-scheme: dark) {
  :root[data-bs-theme="system"] {
    --background-color: #1A1D1D;
    --danger-background-color: rgba(244, 107, 80, 0.16);
    --second-background-color: #2B2E2E;
    --second-background-color-hover: rgb(54, 58, 56);
    --text-color: #FFFFFF;
    --danger-text-color: rgb(244, 107, 80);
    --second-text-color: #a4a7ae;
    --border-color: #2B2E2E;
    --primary-color: rgb(215, 254, 250);
    --primary-color-hover: rgba(215, 254, 250, 0.8);
    --primary-color-light-hover: rgb(65, 72, 72);
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: Avenir, sans-serif;
}

button {
  font-family: Avenir, sans-serif;
}

.btn {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.75em;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  font-size: 0.925em;
  font-weight: 400;
  gap: 0.5em;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-hover);
}

.avatar {
  width: 2.25em;
  height: 2.25em;
  border: 1px solid var(--border-color);
  border-radius: 2em;
}

.avatar.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  font-weight: 500;
}

.main-content {
  flex: 1;
}

@media (width <= 768px) {
  :root {
    font-size: 14px;
  }
}

@media (width <= 480px) {
  :root {
    font-size: 12px;
  }
}
