:root {
  font-size: 16px;

  --text-light-color: #787486;
  --background-focus-color: #f2f2f2;
  --background-second-color: #f7f6fa;
  --border-light-color: #dbdbdb;
  --text-danger-color: #b01212;
  --background-danger-color: #ffe5e5;
  --btn-background-color: #131313;
  --btn-hover-background-color: #383737;
}

:root {
  --background-color: #ffffff;
  --second-background-color: #eaecf5;
  --text-color: #101323;
  --second-text-color: #717bbc;
  --border-color: #c8cce5;
  --primary-color: #363f72;
  --primary-hover-color: #565f91;
  --primary-second-hover-color: rgb(200 204 229 / 60%);
}

:root[data-bs-theme="dark"] {
  --background-color: #252b37;
  --text-color: #f8f9fc;
  --second-text-color: #a4a7ae;
  --border-color: #414651;
  --primary-color: #535862;
}

@media (prefers-color-scheme: dark) {
  :root[data-bs-theme="system"] {
    --background-color: #252b37;
    --text-color: #f8f9fc;
    --second-text-color: #a4a7ae;
    --border-color: #414651;
    --primary-color: #535862;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: Avenir, sans-serif;
}

button {
  font-family: Avenir, sans-serif;
}

.btn {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.75em;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  font-size: 0.925em;
  font-weight: 400;
  gap: 0.5em;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.avatar {
  width: 2.25em;
  height: 2.25em;
  border: 1px solid var(--border-color);
  border-radius: 2em;
}

.avatar.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  font-weight: 500;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

@media (width <= 768px) {
  :root {
    font-size: 14px;
  }
}

@media (width <= 480px) {
  :root {
    font-size: 12px;
  }
}
